# --- Telegram ---
TELEGRAM_NOTIFICATION_TOKEN=
TELEGRAM_LOGS_TOKEN=
TELEGRAM_USER_ID=

# --- Discord (BoostBot) ---
DISCORD_TOKEN=

# --- Ngrok ---
NGROK_AUTH_TOKEN=

# --- Faceit ---
FACEIT_API_KEY=
