{% extends "module_layout.html" %}
{% block module_title %}Nextcloud{% endblock %}
{% block module_heading %}Nextcloud{% endblock %}
{% block sidebar_lead %}
  <p class="sidebar-lead">Cloud storage is off until you enable it on the home page.</p>
{% endblock %}
{% block content %}
  <h1>Nextcloud is disabled</h1>
  <p class="subtitle">Turn on <strong>Nextcloud</strong> on the AutoLab home screen, click <strong>Save modules</strong>, then run <code>autolab restart</code> on the server. After that, <a href="/cloud">/cloud</a> will send you to the Nextcloud UI.</p>
{% endblock %}
